<section>
    <h1>Moonlight Serenade</h1>
    <article>
        <p class="writer">Paul Brandt</p>
        <q>
            Don't tell me the sky's the limit when there are footprints on the moon.
        </q>
    </article>
    <p class="copright">&#169; 2023 Yasser Al Sleiman</p>

</section>
<style>
     section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 20em;
        background-image:url(../../assets/logox.png);
        background-repeat: no-repeat;
        background-size: 290%;
        background-position: bottom;
     }
     h1{
        font-size: 2.5em;
        width: 5em;
        margin: .5em 0 0 1em;
    
     }
     article{
        margin: -7em 0 0 1em;
     }
     .writer{
        font-size: 2.8em;
        font-weight: bold;
        width: 7em;
        margin-bottom: .5em;
     }
     q{
        font-size: 1.2em;
     }
     .copright{
        text-align: center;
     }
</style>
